<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/static/assets/images/favicon.png" type="image/png">
  <title>Home</title>

    <!--Begin  Page Level  CSS -->
    <link href="/static/assets/plugins/morris-chart/morris.css" rel="stylesheet">
    <link href="/static/assets/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet"/>
     <!--End  Page Level  CSS -->
    <link href="/static/assets/css/icons.css" rel="stylesheet">
    <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/assets/css/style.css" rel="stylesheet">
    <link href="/static/assets/css/responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="js/html5shiv.min.js"></script>
          <script src="js/respond.min.js"></script>
    <![endif]-->

</head>

<body class="sticky-header">


    <!--Start left side Menu-->
    <div class="left-side sticky-left-side">

        <!--logo-->
        <div class="logo">
            <a href="index.html"><img src="assets/images/logo.png" alt=""></a>
        </div>

        <div class="logo-icon text-center">
            <a href="index.html"><img src="assets/images/logo-icon.png" alt=""></a>
        </div>
        <!--logo-->

        <div class="left-side-inner">
            <!--Sidebar nav-->
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li class="menu-list"><a href="index.html"><i class="icon-home"></i> <span>服务器</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="/index"> 服务器 1</a></li>
                        <li><a href="/service"> 服务器 2</a></li>
                    </ul>
                </li>

                <li class="menu-list"><a href="#"><i class="icon-layers"></i> <span>世界趋势</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="ui-buttons.html"> Buttons</a></li>
                        <li ><a href="ui-panels.html"> Panels</a></li>
                        <li><a href="ui-sweet-alert.html">Sweet alert</a></li>
                        <li><a href="ui-progressbar.html">Progressbar</a></li>
                        <li><a href="ui-alert-notification.html">Alert &amp; notification</a></li>
                        <li><a href="ui-checkbox-radio.html">Checkbox-radios</a></li>
                        <li><a href="ui-range-slider.html">Range slider</a></li>
                        <li><a href="ui-modals-tooltip.html">Modals Tooltip</a></li>
                        <li><a href="typography.html">Typography</a></li>
                    </ul>
                </li>

                <li class="menu-list nav-active"><a href="#"><i class="icon-grid"></i> <span>国内趋势</span></a>
                    <ul class="sub-menu-list">
                       <li class="active"><a href="/home"> 数据总览 </a></li>
                        <li><a href="/city"> 省市详情 </a></li>
                        <li><a href="table-datatable.html">Data Tables</a></li>
                    </ul>
                </li>

                <li class="menu-list"><a href="#"><i class="icon-envelope-open"></i> <span>Mail</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="inbox.html"> Inbox</a></li>
                        <li><a href="compose.html"> Compose Mail</a></li>
                        <li><a href="message-view.html"> View Mail</a></li>
                    </ul>
                </li>

                <li class="menu-list"><a href="#"><i class="icon-loop"></i> <span>Forms</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="form-basic.html"> Form Layouts</a></li>
                        <li><a href="form-element.html"> Form Components</a></li>
                        <li><a href="form-wizard.html"> Form Wizards</a></li>
                        <li><a href="form-pickers.html"> Form Pickers</a></li>
                        <li><a href="form-validation.html"> Form Validation</a></li>
                        <li><a href="image-crop.html">Image Crop</a></li>
                        <li><a href="form-xeditable.html">X-editable</a></li>
                        <li><a href="form-editors.html">Editors</a></li>
                        <li><a href="form-upload.html">File Dropzone</a></li>
                    </ul>
                </li>


                <li class="menu-list"><a href="#"><i class="icon-film"></i> <span>Icons</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="icon-font-awesome.html"> Fontawesome</a></li>
                        <li><a href="icon-simple-lineicon.html">Simple Line Icon</a></li>
                        <li><a href="icon-themify.html">Themify Icons</a></li>
                        <li><a href="icon-material-design.html">Material Design Icons</a></li>
                         <li><a href="icon-ion.html">Ions Icon </a></li>
                    </ul>
                </li>


                <li><a href="calendar.html"><i class="icon-note"></i> <span>Calendar</span></a></li>
                 <li><a href="widget.html"><i class="icon-wrench"></i> <span>Widget</span></a></li>

                <li class="menu-list"><a href="#"><i class="icon-pie-chart"></i> <span>Charts</span></a>
                    <ul class="sub-menu-list">
                    <li><a href="flot-chart.html"> Flot Charts</a></li>
                    <li><a href="morris-chart.html"> Morris Charts</a></li>
                    <li><a href="chart-js.html"> Chartjs</a></li>
                    <li><a href="chart-sparkline.html"> Chart Sparkline</a></li>
                    </ul>
                </li>
                <li class="menu-list"><a href="#"><i class="icon-location-pin"></i> <span>Maps</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="google-map.html"> Google Map</a></li>
                        <li><a href="vector-map.html"> Vector Map</a></li>
                    </ul>
                </li>
                <li class="menu-list"><a href="#"><i class="icon-folder"></i> <span>Extra Pages</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="faq.html"> FAQ</a></li>
                        <li><a href="profile.html"> Profile</a></li>
                        <li><a href="invoice.html"> Invoice</a></li>
                        <li><a href="timeline.html"> Timeline</a></li>
                        <li><a href="email-template.html"> Email Template</a></li>
                        <li><a href="pricing-table.html"> Pricing Table</a></li>
                        <li><a href="search-result.html"> Search Result</a></li>
                        <li><a href="error-400.html"> 400 Error</a></li>
                        <li><a href="error-403.html"> 403 Error</a></li>
                        <li><a href="error-404.html"> 404 Error</a></li>
                        <li><a href="error-500.html"> 500 Error</a></li>
                        <li><a href="error-503.html"> 503 Error</a></li>
                    </ul>
                </li>
                <li class="menu-list"><a href="#"><i class="icon-lock"></i> <span>Login</span></a>
                    <ul class="sub-menu-list">
                       <li><a href="login.html"> Login </a></li>
                       <li><a href="forgot-password.html"> Forgot Password </a></li>
                        <li><a href="registration.html"> Registration </a></li>
                        <li><a href="locked.html"> Lockscreen </a></li>
                    </ul>
                </li>

            </ul>
            <!--End sidebar nav-->

        </div>
    </div>
    <!--End left side menu-->


    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <div class="header-section">

            <a class="toggle-btn"><i class="fa fa-bars"></i></a>

            <form class="searchform">
                <input type="text" class="form-control" name="keyword" placeholder="Search here..." />
            </form>

            <!--notification menu start -->
            <div class="menu-right">
                <ul class="notification-menu">
                    <li>
                        <a href="#" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown">
                            <i class="fa fa-tasks"></i>
                            <span class="badge">8</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-head pull-right">
                            <h5 class="title">You have 8 pending task</h5>
                            <ul class="dropdown-list">
                            <li class="notification-scroll-list notification-list ">
                               <!-- list item-->
                               <a href="javascript:void(0);" class="list-group-item">
                                  <div class="media">
                                     <div class="pull-left p-r-10">
                                        <em class="fa  fa-shopping-cart noti-primary"></em>
                                     </div>
                                     <div class="media-body">
                                        <h5 class="media-heading">A new order has been placed.</h5>
                                        <p class="m-0">
                                            <small>29 min ago</small>
                                        </p>
                                     </div>
                                  </div>
                               </a>

                               <!-- list item-->
                               <a href="javascript:void(0);" class="list-group-item">
                                  <div class="media">
                                     <div class="pull-left p-r-10">
                                        <em class="fa fa-check noti-success"></em>
                                     </div>
                                     <div class="media-body">
                                        <h5 class="media-heading">Databse backup is complete</h5>
                                        <p class="m-0">
                                            <small>12 min ago</small>
                                        </p>
                                     </div>
                                  </div>
                               </a>

                               <!-- list item-->
                               <a href="javascript:void(0);" class="list-group-item">
                                  <div class="media">
                                     <div class="pull-left p-r-10">
                                        <em class="fa fa-user-plus noti-info"></em>
                                     </div>
                                     <div class="media-body">
                                        <h5 class="media-heading">New user registered</h5>
                                        <p class="m-0">
                                             <small>17 min ago</small>
                                        </p>
                                     </div>
                                  </div>
                               </a>

                                <!-- list item-->
                               <a href="javascript:void(0);" class="list-group-item">
                                  <div class="media">
                                     <div class="pull-left p-r-10">
                                        <em class="fa fa-diamond noti-danger"></em>
                                     </div>
                                     <div class="media-body">
                                        <h5 class="media-heading">Database error.</h5>
                                        <p class="m-0">
                                             <small>11 min ago</small>
                                        </p>
                                     </div>
                                  </div>
                               </a>

                               <!-- list item-->
                               <a href="javascript:void(0);" class="list-group-item">
                                  <div class="media">
                                     <div class="pull-left p-r-10">
                                        <em class="fa fa-cog noti-warning"></em>
                                     </div>
                                     <div class="media-body">
                                        <h5 class="media-heading">New settings</h5>
                                        <p class="m-0">
                                             <small>18 min ago</small>
                                        </p>
                                     </div>
                                  </div>
                               </a>
                             </li>
                             <li class="last"> <a href="#">View all notifications</a> </li>
							</ul>
                        </div>
                    </li>

                    <li>
                        <a href="#" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="badge">4</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-head pull-right">
                         <h5 class="title">Notifications</h5>
                        <ul class="dropdown-list normal-list">
						 <li class="message-list message-scroll-list">
                          <a href="#">
                              <span class="photo"> <img src="assets/images/users/avatar-8.jpg" class="img-circle" alt="img"></span>
                              <span class="subject">John Doe</span>
                              <span class="message"> New tasks needs to be done</span>
                               <span class="time">15 minutes ago</span>
                          </a>

                          <a href="#">
                              <span class="photo"> <img src="assets/images/users/avatar-7.jpg" class="img-circle" alt="img"></span>
                              <span class="subject">John Doe</span>
                              <span class="message"> New tasks needs to be done</span>
                               <span class="time">10 minutes ago</span>
                          </a>

                          <a href="#">
                              <span class="photo"> <img src="assets/images/users/avatar-6.jpg" class="img-circle" alt="img"></span>
                               <span class="subject">John Doe</span>
                               <span class="message"> New tasks needs to be done</span>
                              <span class="time">20 minutes ago</span>
                          </a>

                          <a href="#">
                              <span class="photo"> <img src="assets/images/users/avatar-6.jpg" class="img-circle" alt="img"></span>
                               <span class="subject">John Doe</span>
                               <span class="message"> New tasks needs to be done</span>
                              <span class="time">20 minutes ago</span>
                          </a>

                          <a href="#">
                              <span class="photo"> <img src="assets/images/users/avatar-6.jpg" class="img-circle" alt="img"></span>
                               <span class="subject">John Doe</span>
                               <span class="message"> New tasks needs to be done</span>
                              <span class="time">20 minutes ago</span>
                          </a>

                          <a href="#">
                              <span class="photo"> <img src="assets/images/users/avatar-6.jpg" class="img-circle" alt="img"></span>
                               <span class="subject">John Doe</span>
                               <span class="message"> New tasks needs to be done</span>
                              <span class="time">20 minutes ago</span>
                          </a>
						</li>
						<li class="last"> <a  href="#">All Messages</a> </li>
					</ul>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <img src="assets/images/users/avatar-6.jpg" alt="" />
                            John Doe
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                          <li> <a href="#"> <i class="fa fa-wrench"></i> Settings </a> </li>
                          <li> <a href="#"> <i class="fa fa-user"></i> Profile </a> </li>
                          <li> <a href="#"> <i class="fa fa-info"></i> Help </a> </li>
                          <li> <a href="#"> <i class="fa fa-lock"></i> Logout </a> </li>
                        </ul>
                    </li>

                </ul>
            </div>
            <!--notification menu end -->

        </div>
        <!-- header section end-->


        <!--body wrapper start-->
        <div class="wrapper">

          <!--Start Page Title-->
           <div class="page-title-box">
                <h4 class="page-title">Dashboard1 </h4>
                <ol class="breadcrumb">
                    <li>
                        <a href="#">Dashboard</a>
                    </li>

                    <li class="active">
                        Dashboard 1
                    </li>
                </ol>
                <div class="clearfix"></div>
             </div>
              <!--End Page Title-->

                 <!--Start row-->
                 <div class="row">
                     <div class="container">
                         <div class="analytics-box">

                         </div>
                     </div>
                 </div>
                 <!--End row-->







                   <!--Start row-->
                   <div class="row">
                        <div class="col-md-4">
                        <div class="panel panel-color panel-danger">
                            <div class="panel-heading">
                                <h3 class="panel-title">现存确诊</h3>
                            </div>
                            <div class="panel-body">
                                <h1 style="display: inline;margin-left: 30px;margin-right: 150px;"><b>{{ leiji.dataList.quezhen_xianyou }}</b></h1>
                                <div style="display: inline;float: right;">昨日
                                    {{ leiji.dataList.child.0.quezhen_xianyou }}
                                </div>
                            </div>
                        </div>
                    </div>



                       <div class="col-md-4">
                        <div class="panel panel-color panel-pink">
                            <div class="panel-heading">
                                <h3 class="panel-title">无症状感染</h3>
                            </div>
                            <div class="panel-body">
                                <h1 style="display: inline;margin-left: 30px;margin-right: 150px;"><b>{{ leiji.dataList.quezhen_wzz }}</b></h1>
                                <div style="display: inline;float: right;">昨日 {{ leiji.dataList.child.0.quezhen_wzz }}</div>
                            </div>
                        </div>
                    </div>

                       <div class="col-md-4">
                        <div class="panel panel-color panel-warning">
                            <div class="panel-heading">
                                <h3 class="panel-title">境外输入</h3>
                            </div>
                            <div class="panel-body">
                                <h1 style="display: inline;margin-left: 30px;margin-right: 150px;"><b>{{ leiji.dataList.quezhen_jingwaishuru }}</b></h1>
                                <div style="display: inline;float: right;">昨日 {{ leiji.dataList.child.0.quezhen_jingwaishuru }}</div>
                            </div>
                        </div>
                    </div>
                   </div>
                   <!--End row-->
                   <!--Start row-->
                   <div class="row">

                    <!-- Start inbox widget-->
                      <div class="col-md-4">
                        <div class="panel panel-color panel-danger">
                            <div class="panel-heading" style="background-color: #ff3111">
                                <h3 class="panel-title">累计确诊</h3>
                            </div>
                            <div class="panel-body">
                                <h1 style="display: inline;margin-left: 30px;"><b>{{ leiji.dataList.quezhen }}</b></h1>
                                <div style="display: inline;float: right;">昨日 {{ leiji.dataList.child.0.quezhen }}</div>
                            </div>
                        </div>
                    </div>
                      <!-- End inbox widget-->

                   <!--Start chat widget-->
                   <div class="col-md-4">
                        <div class="panel panel-color panel-success">
                            <div class="panel-heading">
                                <h3 class="panel-title">累计治愈</h3>
                            </div>
                            <div class="panel-body">
                                <h1 style="display: inline;margin-left: 30px;margin-right: 150px;"><b>{{ leiji.dataList.zhiyu }}</b></h1>
                                <div style="display: inline;float: right;">昨日 {{ leiji.dataList.child.0.zhiyu }}</div>
                            </div>
                        </div>
                    </div>
                   <!--End chat widget-->

                 <!-- Start timeline-->
                 <div class="col-md-4">
                        <div class="panel panel-color panel-black" style="border-color: #0c0c0c;">
                            <div class="panel-heading" style="background-color: #0c0c0c">
                                <h3 class="panel-title">累计死亡</h3>
                            </div>
                            <div class="panel-body">
                                <h1 style="display: inline;margin-left: 30px;margin-right: 150px;"><b>{{ leiji.dataList.siwang }}</b></h1>
                                <div style="display: inline;float: right;">昨日 {{ leiji.dataList.child.0.siwang }}</div>
                            </div>
                        </div>
                    </div>
                 <!-- End timeline-->
                       <!--End row-->
                    </div>
                    <div class="row">
                     <!-- Start inbox widget-->
                     <div class="col-md-12">
                        <div class="white-box">
                          <h2 class="header-title"> 中国疫情地图 </h2>
                            <div id="world-map-markers">
                                <div id="myEcharts" style="width:1100px;height:800px;border: solid 1px red;margin: 0 auto;"></div>
                            </div>

                        </div>
                       </div>
					<!-- Start inbox widget-->
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="white-box">
                            <div id="container" style="height: 100%;height: 500px;"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="white-box">
                            <div id="container2" style="height: 100%;height: 500px;"></div>
                            </div>
                        </div>
                    </div>

			    </div>
        <!-- End Wrapper-->


        <!--Start  Footer -->
        <footer class="footer-main">Copyright &copy; 2018.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></footer>
         <!--End footer -->

       </div>
      <!--End main content -->



    <!--Begin core plugin -->
    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/js/bootstrap.min.js"></script>
    <script src="/static/assets/plugins/moment/moment.js"></script>
    <script  src="/static/assets/js/jquery.slimscroll.js "></script>
    <script src="/static/assets/js/jquery.nicescroll.js"></script>
    <script src="/static/assets/js/functions.js"></script>
    <!-- End core plugin -->

    <!--Begin Page Level Plugin-->
	<script src="/static/assets/plugins/morris-chart/morris.js"></script>
    <script src="/static/assets/plugins/morris-chart/raphael-min.js"></script>
    <script src="/static/assets/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>
    <script src="/static/assets/pages/dashboard.js"></script>
    <!--End Page Level Plugin-->

    <!--Begin map-->
    <!-- 引入 echarts.js -->
  <script src="/static/assets/js/echarts.js"></script>
  <!--引入中国的地图数据js文件，引入后会自动注册地图名字和数据-->
  <script src="/static/assets/js/china.js"></script>
    <script>
    //初始化echarts实例
    var myChart = echarts.init(document.getElementById('myEcharts'));
    // 指定图表的配置项和数据
    option = {
      title: {
        text: '中国疫情图',
        left: 'center'
      },
      tooltip: {
        trigger: 'item'
      },
      legend: {
        orient: 'vertical',
        left: 'left',
        data: ['中国疫情图']
      },
      visualMap: {
        type: 'piecewise',
        pieces: [
          { min: 1000, max: 1000000, label: '大于等于1000人', color: '#372a28' },
          { min: 500, max: 999, label: '确诊500-999人', color: '#4e160f' },
          { min: 100, max: 499, label: '确诊100-499人', color: '#974236' },
          { min: 10, max: 99, label: '确诊10-99人', color: '#ee7263' },
          { min: 1, max: 9, label: '确诊1-9人', color: '#f5bba7' },
        ],
        color: ['#E0022B', '#E09107', '#A3E00B']
      },
      toolbox: {
        show: true,
        orient: 'vertical',
        left: 'right',
        top: 'center',
        feature: {
          mark: { show: true },
          dataView: { show: true, readOnly: false },
          restore: { show: true },
          saveAsImage: { show: true }
        }
      },
      roamController: {
        show: true,
        left: 'right',
        mapTypeControl: {
          'china': true
        }
      },
      series: [
        {
          name: '确诊数',
          type: 'map',
          mapType: 'china',
          roam: false,
          label: {
            show: true,
            color: 'rgb(249, 249, 249)'
          },
          data: [
            {
              name: '{{ dl.0.name1 }}',
              value: {{ dl.0.quezhen_xianyou }}
            }, {
              name: '{{ dl.1.name1 }}',
              value: {{ dl.1.quezhen_xianyou }}
            }, {
             name: '{{ dl.2.name1 }}',
              value: {{ dl.2.quezhen_xianyou }}
            }, {
              name: '{{ dl.3.name1 }}',
              value: {{ dl.3.quezhen_xianyou }}
            }, {
              name: '{{ dl.4.name1 }}',
              value: {{ dl.4.quezhen_xianyou }}
            }, {
             name: '{{ dl.5.name1 }}',
              value: {{ dl.5.quezhen_xianyou }}
            }, {
              name: '{{ dl.6.name1 }}',
              value: {{ dl.6.quezhen_xianyou }}
            }, {
              name: '{{ dl.7.name1 }}',
              value: {{ dl.7.quezhen_xianyou }}
            }, {
              name: '{{ dl.8.name1 }}',
              value: {{ dl.8.quezhen_xianyou }}
            }, {
             name: '{{ dl.9.name1 }}',
              value: {{ dl.9.quezhen_xianyou }}
            }, {
              name: '{{ dl.10.name1 }}',
              value: {{ dl.10.quezhen_xianyou }}
            }, {
              name: '{{ dl.11.name1 }}',
              value: {{ dl.11.quezhen_xianyou }}
            }, {
              name: '{{ dl.12.name1 }}',
              value: {{ dl.12.quezhen_xianyou }}
            }, {
              name: '{{ dl.13.name1 }}',
              value: {{ dl.13.quezhen_xianyou }}
            }, {
              name: '{{ dl.14.name1 }}',
              value: {{ dl.14.quezhen_xianyou }}
            }, {
              name: '{{ dl.16.name1 }}',
              value: {{ dl.16.quezhen_xianyou }}
            }, {
              name: '{{ dl.17.name1 }}',
              value: {{ dl.17.quezhen_xianyou }}
            }, {
             name: '{{ dl.18.name1 }}',
              value: {{ dl.18.quezhen_xianyou }}
            }, {
              name: '{{ dl.19.name1 }}',
              value: {{ dl.19.quezhen_xianyou }}
            }, {
              name: '{{ dl.20.name1 }}',
              value: {{ dl.20.quezhen_xianyou }}
            }, {
              name: '{{ dl.21.name1 }}',
              value: {{ dl.21.quezhen_xianyou }}
            }, {
              name: '{{ dl.22.name1 }}',
              value: {{ dl.22.quezhen_xianyou }}
            },  {
              name: '{{ dl.24.name1 }}',
              value: {{ dl.24.quezhen_xianyou }}
            }, {
              name: '{{ dl.25.name1 }}',
              value: {{ dl.25.quezhen_xianyou }}
            }, {
             name: '{{ dl.26.name1 }}',
              value: {{ dl.26.quezhen_xianyou }}
            }, {
              name: '{{ dl.27.name1 }}',
              value: {{ dl.27.quezhen_xianyou }}
            }, {
              name: '{{ dl.28.name1 }}',
              value: {{ dl.28.quezhen_xianyou }}
            },{
              name: '{{ dl.30.name1 }}',
              value: {{ dl.30.quezhen_xianyou }}
            }, {
              name: '{{ dl.31.name1 }}',
              value: {{ dl.31.quezhen_xianyou }}
            }, {
              name: '{{ dl.32.name1 }}',
              value: {{ dl.32.quezhen_xianyou }}
            }, {
              name: '{{ dl.33.name1 }}',
              value: {{ dl.33.quezhen_xianyou }}
            }
          ]
        }
      ]
    };

    //使用指定的配置项和数据显示图表
    myChart.setOption(option);
  </script>
    <!--End map-->
    <!-- Begin data -->
     <script type="text/javascript">
var dom = document.getElementById("container");
var myChart = echarts.init(dom);
var app = {};

var option;



option = {
    title: {
        text: '全国数据总量'
    },
    tooltip: {
        trigger: 'axis'
    },
    legend: {
        data: ['累计确诊','确诊现有', '累计治愈', '累计死亡']
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    toolbox: {
        feature: {
            saveAsImage: {}
        }
    },
    xAxis: {
        type: 'category',
        boundaryGap: false,
        data:
            [{% for item in lj2.dataList reversed%}
            '{{ item.date }}',
            {% endfor %}'']
    },
    yAxis: {
        type: 'value'
    },
    series: [
        {
            name: '累计确诊',
            type: 'line',
            stack: '累计确诊',
            data: [
                {% for item in lj2.dataList reversed%}
                    {{ item.quezhen }},
                {% endfor %}, ]
        },
        {
            name: '确诊现有',
            type: 'line',
            stack: '确诊现有',
            data: [
                {% for item in lj2.dataList reversed%}
                    {{ item.quezhen_xianyou }},
                {% endfor %}, ]
        },
        {
            name: '累计治愈',
            type: 'line',
            stack: '累计治愈',
            data: [
                {% for item in lj2.dataList reversed%}
                    {{ item.zhiyu }},
                {% endfor %}, ]
        },
        {
            name: '累计死亡',
            type: 'line',
            stack: '累计死亡',
            data: [
                {% for item in lj2.dataList reversed%}
                    {{ item.siwang }},
                {% endfor %}, ]
        }
    ]
};

if (option && typeof option === 'object') {
    myChart.setOption(option);
}

        </script>


    <script type="text/javascript">
var dom = document.getElementById("container2");
var myChart = echarts.init(dom);
var app = {};

var option;



option = {
    title: {
        text: '全国每日数据'
    },
    tooltip: {
        trigger: 'axis'
    },
    legend: {
        data: ['确诊数', '治愈数', '死亡数','疑似数']
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    toolbox: {
        feature: {
            saveAsImage: {}
        }
    },
    xAxis: {
        type: 'category',
        boundaryGap: false,
        data:
            [{% for item in lj2.dataList reversed%}
            '{{ item.date }}',
            {% endfor %}'']
    },
    yAxis: {
        type: 'value'
    },
    series: [
        {
            name: '确诊数',
            type: 'line',
            stack: '确诊数',
            data: [
                {% for item in lj2.dataList reversed%}
                    {{ item.quezhen_add }},
                {% endfor %}, ]
        },
        {
            name: '治愈数',
            type: 'line',
            stack: '治愈数',
            data: [
                {% for item in lj2.dataList reversed%}
                    {{ item.zhiyu_add }},
                {% endfor %}, ]
        },
        {
            name: '死亡数',
            type: 'line',
            stack: '死亡数',
            data: [
                {% for item in lj2.dataList reversed%}
                    {{ item.siwang_add }},
                {% endfor %}, ]
        },
        {
            name: '疑似数',
            type: 'line',
            stack: '疑似数',
            data: [
                {% for item in lj2.dataList reversed%}
                    {{ item.yisi }},
                {% endfor %}, ]
        }
    ]
};

if (option && typeof option === 'object') {
    myChart.setOption(option);
}

        </script>
    <!-- End data -->
</body>

</html>
