<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/static/assets/images/favicon.png" type="image/png">
  <title>Home</title>



    <!--Begin  Page Level  CSS -->
    <link href="/static/assets/plugins/morris-chart/morris.css" rel="stylesheet">
    <link href="/static/assets/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet"/>
     <!--End  Page Level  CSS -->
    <link href="/static/assets/css/icons.css" rel="stylesheet">
    <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/assets/css/style.css" rel="stylesheet">
    <link href="/static/assets/css/responsive.css" rel="stylesheet">

    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="/static/assets/plugins/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="js/html5shiv.min.js"></script>
          <script src="js/respond.min.js"></script>
    <![endif]-->

</head>

<body class="sticky-header">


    <!--Start left side Menu-->
    <div class="left-side sticky-left-side">

        <!--logo-->
        <div class="logo">
            <a href="index.html"><img src="/static/assets/images/logo.png" alt=""></a>
        </div>

        <div class="logo-icon text-center">
            <a href="index.html"><img src="/static/assets/images/logo-icon.png" alt=""></a>
        </div>
        <!--logo-->

        <div class="left-side-inner">
            <!--Sidebar nav-->
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li class="menu-list nav-active"><a href="index.html"><i class="icon-home"></i> <span>服务器</span></a>
                    <ul class="sub-menu-list">
                        <li  class="active"><a href="/index"> 服务器 1</a></li>
                        <li><a href="/service"> 服务器 2</a></li>
                    </ul>
                </li>

                <li class="menu-list"><a href="#"><i class="icon-layers"></i> <span>世界趋势</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="/world"> 数据总览 </a></li>
                        <li><a href="/worldtrend"> 数据分析 </a></li>
                    </ul>
                </li>

                <li class="menu-list"><a href="#"><i class="icon-grid"></i> <span>国内趋势</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="/home"> 数据总览 </a></li>
                        <li><a href="/city"> 省市详情 </a></li>
                        <li><a href="/chinatrend"> 数据分析 </a></li>
                    </ul>
                </li>

                <li class="menu-list"><a href="#"><i class="icon-envelope-open"></i> <span>新闻系统</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="/realtime"> 实时要点 </a></li>
                        <li><a href="/rumor"> 实时辟谣 </a></li>
                    </ul>
                </li>

                <li class="menu-list"><a href="#"><i class="icon-loop"></i> <span> 数据接口 </span></a>
                    <ul class="sub-menu-list">
                        <li><a href="/api"> 接口文档 </a></li>

                    </ul>
                </li>


            </ul>
            <!--End sidebar nav-->

        </div>
    </div>
    <!--End left side menu-->


    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <div class="header-section">

            <a class="toggle-btn"><i class="fa fa-bars"></i></a>

            <form class="searchform">
                <input type="text" class="form-control" name="keyword" placeholder="Search here..." />
            </form>

            <!--notification menu start -->
            <div class="menu-right">
                <ul class="notification-menu">
                    <li>
                        <a href="#" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown">
                            <i class="fa fa-tasks"></i>
                            <span class="badge">8</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-head pull-right">
                            <h5 class="title">You have 8 pending task</h5>
                            <ul class="dropdown-list">
                            <li class="notification-scroll-list notification-list ">
                               <!-- list item-->
                               <a href="javascript:void(0);" class="list-group-item">
                                  <div class="media">
                                     <div class="pull-left p-r-10">
                                        <em class="fa  fa-shopping-cart noti-primary"></em>
                                     </div>
                                     <div class="media-body">
                                        <h5 class="media-heading">A new order has been placed.</h5>
                                        <p class="m-0">
                                            <small>29 min ago</small>
                                        </p>
                                     </div>
                                  </div>
                               </a>

                               <!-- list item-->
                               <a href="javascript:void(0);" class="list-group-item">
                                  <div class="media">
                                     <div class="pull-left p-r-10">
                                        <em class="fa fa-check noti-success"></em>
                                     </div>
                                     <div class="media-body">
                                        <h5 class="media-heading">Databse backup is complete</h5>
                                        <p class="m-0">
                                            <small>12 min ago</small>
                                        </p>
                                     </div>
                                  </div>
                               </a>

                               <!-- list item-->
                               <a href="javascript:void(0);" class="list-group-item">
                                  <div class="media">
                                     <div class="pull-left p-r-10">
                                        <em class="fa fa-user-plus noti-info"></em>
                                     </div>
                                     <div class="media-body">
                                        <h5 class="media-heading">New user registered</h5>
                                        <p class="m-0">
                                             <small>17 min ago</small>
                                        </p>
                                     </div>
                                  </div>
                               </a>

                                <!-- list item-->
                               <a href="javascript:void(0);" class="list-group-item">
                                  <div class="media">
                                     <div class="pull-left p-r-10">
                                        <em class="fa fa-diamond noti-danger"></em>
                                     </div>
                                     <div class="media-body">
                                        <h5 class="media-heading">Database error.</h5>
                                        <p class="m-0">
                                             <small>11 min ago</small>
                                        </p>
                                     </div>
                                  </div>
                               </a>

                               <!-- list item-->
                               <a href="javascript:void(0);" class="list-group-item">
                                  <div class="media">
                                     <div class="pull-left p-r-10">
                                        <em class="fa fa-cog noti-warning"></em>
                                     </div>
                                     <div class="media-body">
                                        <h5 class="media-heading">New settings</h5>
                                        <p class="m-0">
                                             <small>18 min ago</small>
                                        </p>
                                     </div>
                                  </div>
                               </a>
                             </li>
                             <li class="last"> <a href="#">View all notifications</a> </li>
							</ul>
                        </div>
                    </li>

                    <li>
                        <a href="#" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="badge">4</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-head pull-right">
                         <h5 class="title">Notifications</h5>
                        <ul class="dropdown-list normal-list">
						 <li class="message-list message-scroll-list">
                          <a href="#">
                              <span class="photo"> <img src="assets/images/users/avatar-8.jpg" class="img-circle" alt="img"></span>
                              <span class="subject">John Doe</span>
                              <span class="message"> New tasks needs to be done</span>
                               <span class="time">15 minutes ago</span>
                          </a>

                          <a href="#">
                              <span class="photo"> <img src="assets/images/users/avatar-7.jpg" class="img-circle" alt="img"></span>
                              <span class="subject">John Doe</span>
                              <span class="message"> New tasks needs to be done</span>
                               <span class="time">10 minutes ago</span>
                          </a>

                          <a href="#">
                              <span class="photo"> <img src="assets/images/users/avatar-6.jpg" class="img-circle" alt="img"></span>
                               <span class="subject">John Doe</span>
                               <span class="message"> New tasks needs to be done</span>
                              <span class="time">20 minutes ago</span>
                          </a>

                          <a href="#">
                              <span class="photo"> <img src="assets/images/users/avatar-6.jpg" class="img-circle" alt="img"></span>
                               <span class="subject">John Doe</span>
                               <span class="message"> New tasks needs to be done</span>
                              <span class="time">20 minutes ago</span>
                          </a>

                          <a href="#">
                              <span class="photo"> <img src="assets/images/users/avatar-6.jpg" class="img-circle" alt="img"></span>
                               <span class="subject">John Doe</span>
                               <span class="message"> New tasks needs to be done</span>
                              <span class="time">20 minutes ago</span>
                          </a>

                          <a href="#">
                              <span class="photo"> <img src="assets/images/users/avatar-6.jpg" class="img-circle" alt="img"></span>
                               <span class="subject">John Doe</span>
                               <span class="message"> New tasks needs to be done</span>
                              <span class="time">20 minutes ago</span>
                          </a>
						</li>
						<li class="last"> <a  href="#">All Messages</a> </li>
					</ul>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <img src="assets/images/users/avatar-6.jpg" alt="" />
                            John Doe
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                          <li> <a href="#"> <i class="fa fa-wrench"></i> Settings </a> </li>
                          <li> <a href="#"> <i class="fa fa-user"></i> Profile </a> </li>
                          <li> <a href="#"> <i class="fa fa-info"></i> Help </a> </li>
                          <li> <a href="#"> <i class="fa fa-lock"></i> Logout </a> </li>
                        </ul>
                    </li>

                </ul>
            </div>
            <!--notification menu end -->

        </div>
        <!-- header section end-->


        <!--body wrapper start-->
        <div class="wrapper">

          <!--Start Page Title-->
           <div class="page-title-box">
                <h4 class="page-title">服务器 1 </h4>
                <ol class="breadcrumb">
                    <li>
                        <button class="btn btn-info" data-toggle="modal" data-target="#modal-normal" type="button">爬取设置</button>
                    </li>
                </ol>
                <div class="clearfix"></div>
             </div>
              <!--End Page Title-->

                 <!--Start row-->
                 <div class="row">
                     <div class="container">
                         <div class="analytics-box">

                         </div>
                     </div>
                 </div>
                 <!--End row-->

                  <!--Start row-->
                  <div class="row">
                   <!--Start info box-->
                      <div class="col-md-4">
                          <div class="panel panel-border panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">CPU使用率</h3>
                            </div>
                              <hr/>
                            <div class="panel-body">
                                <center><div id="pieDiagram1" style="height:200px;width:200px;"></div></center>
                                <div class="panel-title" style="float: left">CPU主频</div>
                                <div class="panel-title" style="float: right">2.50GHz</div>
                                <br/>
                              <hr/>
                                <div class="panel-title" style="float: left">核心数</div>
                                <div class="panel-title" style="float: right">1</div>
                            </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                          <div class="panel panel-border panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">内存使用率</h3>
                            </div>
                              <hr/>
                            <div class="panel-body">
                                <center><div id="pieDiagram2" style="height:200px;width:200px;"></div></center>
                                <div class="panel-title" style="float: left">总内存</div>
                                <div class="panel-title" style="float: right">0G</div>
                                <br/>
                              <hr/>
                                <div class="panel-title" style="float: left">已用内存</div>
                                <div class="panel-title" style="float: right">0G</div>
                            </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                          <div class="panel panel-border panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">磁盘信息</h3>
                            </div>
                              <hr/>
                            <div class="panel-body">
                                <center><div id="pieDiagram3" style="height:200px;width:200px;"></div></center>
                                <div class="panel-title" style="float: left">总内存</div>
                                <div class="panel-title" style="float: right">39G</div>
                                <br/>
                              <hr/>
                                <div class="panel-title" style="float: left">使用内存</div>
                                <div class="panel-title" style="float: right">30G</div>
                            </div>
                        </div>
                      </div>


                  </div>
                  <!--End row-->

                <!-- start row -->
                <div class="row">
                    <div class="col-md-12">
                          <div class="panel panel-border panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">服务信息</h3>
                            </div>
                              <hr/>
                            <div class="panel-body">
                                <div style="border-bottom: 1px solid #e6ebf5;padding: 0px 0px 16px 0px;">
                                    <span class="panel-title">Python版本</span>
                                    <span style="float: right">3.8.2</span>
                                </div>
                                <div style="border-bottom: 1px solid #e6ebf5;padding: 16px 0px;">
                                    <span class="panel-title">MongoDB版本</span>
                                    <span style="float: right">4.2.12</span>
                                </div>
                                <div style="border-bottom: 1px solid #e6ebf5;padding: 16px 0px;">
                                    <span class="panel-title">bs4版本</span>
                                    <span style="float: right">4.9.3</span>
                                </div>
                                <div style="border-bottom: 1px solid #e6ebf5;padding: 16px 0px;">
                                    <span class="panel-title">selenium版本</span>
                                    <span style="float: right">2.29</span>
                                </div>
                                <div style="border-bottom: 1px solid #e6ebf5;padding: 16px 0px;">
                                    <span class="panel-title">操作系统</span>
                                    <span style="float: right">Windows 10</span>
                                </div>
                                <div style="padding: 16px 0px;">
                                    <span class="panel-title">CPU</span>
                                    <span style="float: right">Intel(R) Core(TM) CPU @ 2.40GHz   2.40 GHz</span>
                                </div>
                            </div>
                        </div>
                      </div>
                </div>
                <!-- end row -->


            <!-- start row -->

                <div class="row" hidden id="clawinfo">
                    <div class="col-md-12">
                          <div class="panel panel-border panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">爬虫信息</h3>
                            </div>

                              <hr/>

                              <div class="panel-body">
                                <div class="progress progress-lg m-b-5">
                                    <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                        <span class="sr-only">67% Complete</span>
                                    </div>
                                </div>
                                  <div class="progress progress-lg m-b-5">
                                    <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100" style="width: 67%;">
                                        <span class="sr-only">67% Complete</span>
                                    </div>
                                </div>
                                  <div class="progress progress-lg m-b-5">
                                    <div class="progress-bar progress-bar-pink progress-bar-striped active" role="progressbar" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100" style="width: 67%;">
                                        <span class="sr-only">67% Complete</span>
                                    </div>
                                </div>
                                  <div class="progress progress-lg m-b-5">
                                    <div class="progress-bar progress-bar-primary progress-bar-striped active" role="progressbar" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100" style="width: 67%;">
                                        <span class="sr-only">67% Complete</span>
                                    </div>
                                </div>
                                  <div class="progress progress-lg m-b-5">
                                    <div class="progress-bar progress-bar-purple progress-bar-striped active" role="progressbar" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100" style="width: 67%;">
                                        <span class="sr-only">67% Complete</span>
                                    </div>
                                </div>
                              </div>
                        </div>
                      </div>
                </div>

                <!-- end row -->

             <!-- Normal Modal -->
            <div  id="modal-normal" class="modal fade" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">爬取服务设置</h4>
                  </div>
                  <div class="modal-body">
                    <table id="user" class="table table-bordered table-striped" style="clear: both">
                                  <tbody>
                                  <tr>
                                      <td>主机地址</td>
                                      <td><input class="form-control" placeholder="121.24.120.45" value="" type="text"></td>
                                    </tr>
                                    <tr>
                                      <td>全球数据</td>
                                      <td><select class="form-control">
                                            <option>是</option>
                                            <option>否</option>
                                          </select></td>
                                    </tr>
                                    <tr>
                                      <td>全国数据</td>
                                      <td>
                                          <select class="form-control">
                                            <option>是</option>
                                            <option>否</option>
                                          </select>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>省市实时</td>
                                      <td>
                                          <select class="form-control">
                                            <option>是</option>
                                            <option>否</option>
                                          </select>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>省市历史</td>
                                      <td>
                                        <select class="form-control">
                                            <option>是</option>
                                            <option>否</option>
                                          </select>
                                      </td>
                                    </tr>

                                    <tr>
                                      <td>实时播报</td>
                                      <td>
                                          <select class="form-control">
                                            <option>是</option>
                                            <option>否</option>
                                          </select>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>谣言数据</td>
                                      <td><select class="form-control">
                                            <option>是</option>
                                            <option>否</option>
                                          </select>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" onclick="startClawr()">开始爬取</button>
                  </div>
                </div>

              </div>
            </div>
             <!-- END Normal Modal -->



			    </div>
        <!-- End Wrapper-->


        <!--Start  Footer -->
        <footer class="footer-main">Copyright &copy; 2018.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></footer>
         <!--End footer -->

       </div>
      <!--End main content -->



    <!--Begin core plugin -->
    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/js/bootstrap.min.js"></script>
    <script src="/static/assets/plugins/moment/moment.js"></script>
    <script  src="/static/assets/js/jquery.slimscroll.js "></script>
    <script src="/static/assets/js/jquery.nicescroll.js"></script>
    <script src="/static/assets/js/functions.js"></script>
    <!-- End core plugin -->

    <!--Begin Page Level Plugin-->
	<script src="/static/assets/plugins/morris-chart/morris.js"></script>
    <script src="/static/assets/plugins/morris-chart/raphael-min.js"></script>
    <script src="/static/assets/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>
    <script src="/static/assets/pages/dashboard.js"></script>
    <!--End Page Level Plugin-->
    <script src="/static/assets/js/echarts.js"></script>
    <script src="/static/assets/js/PercentPie.js"></script>

    <!-- BEGIN PAGE LEVEL SCRIPTS -->
	<script src="/static/assets/plugins/bootstrap-editable/js/bootstrap-editable.min.js"></script>
    <script src="/static/assets/pages/bootstrap-editable-custom.js"></script>
    <!-- BEGIN PAGE LEVEL SCRIPTS -->

</body>

<script type="text/javascript">
            var option1 = {
                value:20,//百分比,必填
                name:'',//必填
                title:'',
                backgroundColor:null,
                color:['#38a8da','#d4effa'],
                fontSize:16,
                domEle:document.getElementById("pieDiagram1")//必填
            },percentPie1 = new PercentPie(option1);
            percentPie1.init();

            var option2 = {
                value:69,//百分比,必填
                name:'',//必填
                title:'',
                backgroundColor:null,
                color:['#38a8da','#d4effa'],
                fontSize:16,
                domEle:document.getElementById("pieDiagram2")//必填
            },percentPie2 = new PercentPie(option2);
            percentPie2.init();

            var option3 = {
                value:76.92,//百分比,必填
                name:'',//必填
                title:'',
                backgroundColor:null,
                color:['#38a8da','#d4effa'],
                fontSize:16,
                domEle:document.getElementById("pieDiagram3")//必填
            },percentPie3 = new PercentPie(option3);
            percentPie3.init();
</script>


<script>
    function startClawr() {
        document.getElementById("clawinfo").removeAttribute("hidden");
        //this.$('clawinfo').hide()
    }
</script>

</html>
